NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_AUTH_REDIRECT_URL=http://localhost:3000/api/auth/callback

NEXT_PUBLIC_MAINNET_WALLET_URL=https://wallet.orobit.io
NEXT_PUBLIC_TESTNET_WALLET_URL=http://localhost:5173

STRIPE_SECRET_KEY=sk_test_...
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_EXCHANGE_URL=https://btcprice.darkfusion.tech
NEXT_PUBLIC_EXPLORER_APP_URL=https://dev-testexplorer.darkfusion.tech